name_prefix = "env-manager-dev"

aws_region = "us-east-1"

vpc_id = "vpc-0123456789abcdef0"

public_subnet_ids = [
  "subnet-11111111111111111",
  "subnet-22222222222222222"
]

private_subnet_ids = [
  "subnet-33333333333333333",
  "subnet-44444444444444444"
]

container_image = "123456789012.dkr.ecr.us-east-1.amazonaws.com/env-manager:latest"

health_check_path = "/up"

desired_count = 2
min_capacity  = 2
max_capacity  = 6

cpu    = 512
memory = 1024

db_instance_class    = "db.t4g.micro"
db_allocated_storage = 20
db_name              = "env_manager"
db_username          = "envmanager"
db_password          = "replace-with-secure-db-password"

environment_file_object_arns = [
  "arn:aws:s3:::env-manager/app/common.env",
  "arn:aws:s3:::env-manager/app/dev.env"
]
