<div id="<%= dom_id variable %>">
  <div>
    <strong>Key:</strong>
    <%= variable.key %>
  </div>

  <div>
    <strong>Value:</strong>
    <%= variable.value %>
  </div>

  <div>
    <strong>Type:</strong>
    <%= variable.type %>
  </div>

</div>
