<% content_for :title, "Editing variable" %>

<h1>Editing variable</h1>

<%= render "form", variable: @variable %>

<br>

<div>
  <%= link_to "Show this variable", @variable %> |
  <%= link_to "Back to variables", variables_path %>
</div>
