<%= form_with model: [app, app_env, env_config] do |f| %>
  <div class="mb-3">
    <%= f.label :kind, class: "form-label" %>
    <%= f.select :kind, EnvConfig::KINDS, {}, class: "form-select" %>
  </div>

  <%= f.submit class: "btn btn-primary" %>
<% end %>
