<div class="d-flex justify-content-between align-items-center mb-3">
  <h1 class="h3 mb-0"><%= @app.name %> / <%= @app_env.name %> Configs</h1>
  <%= link_to "New Environment Config", new_app_app_env_env_config_path(@app, @app_env), class: "btn btn-primary" %>
</div>

<div class="list-group">
  <% @env_configs.each do |env_config| %>
    <%= link_to env_config.kind, app_app_env_env_config_path(@app, @app_env, env_config), class: "list-group-item list-group-item-action" %>
  <% end %>
</div>
